<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Thêm học sinh</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Thêm một học sinh :</h1>
          
      <form th:action="@{/addStudent}"
         th:object="${studentForm}" method="POST">
         Tên:
         <input type="text" th:field="*{name}" />    
         <br/>
         Địa chỉ:
         <input type="text" th:field="*{address}" />     
         <br/>
         Điểm:
         <input type="number" th:field="*{mark}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>