<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8" />
 <title>Trang chủ</title>
 <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
</head>
<body>
<h1>Quản lí danh sách  lớp</h1>
<h2 th:utext="${message}"></h2>
<a th:href="@{/studentList}">Danh sách học sinh</a>
</body>