<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Danh sách học sinh</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Danh sách</h1>
	<a th:href="@{addStudent}">Thêm học sinh</a>
	<br />
	<br />
	<div>
		<table border="1">
			<tr>
				<th>Tên</th>
				<th>Địa chỉ</th>
				<th>Điểm</th>
			</tr>
			<tr th:each="student : ${students}">
				<td th:utext="${student.name}">...</td>
				<td th:utext="${student.address}">...</td>
				<td th:utext="${student.mark}">...</td>
			</tr>

		</table>
	</div>

</body>
</html>